/* Classe des titres des en-têtes */
.titre {
    font-size: 1.2rem;
    vertical-align: middle;
}
/* Classe de la barre de menu général */
.barreMenuGeneral {
    background-color:aliceblue;
    vertical-align: top;
    width: 65px;
}
/* Le tableau doit occuper toute la largeur de l'écran... */
table {
    width: 100%;
}
/* et les zones prévisionnel/corbeille une certaine largeur */
.celluleZone  {
    width: 75%;
}
/* Cette zone est en haut de l'écran, elle contient les éléments fixes. */
#entetePrevisionnel  {
    height: 40px;
}
/* Cette zone reçoit les créneaux prévus ; elle doit être de bonne taille */
#previsionnel  {
    height: 600px;
    background-color:mediumaquamarine;
}
/* Espace du formulaire à droite du prévisionnel ; demi-taille */
#formulaire  {
    height: 300px;
}
/* Cette zone est la corbeille, elle contient les créneaux non attachés à une
   semaine en particulier ; demi-taille du prévisionnel */
#corbeille  {
    height: 300px;
    background-color:gray
}

/* Aligner les zones d'entrée à droite */
#type, #matiere, #prof, #lieu, #public, #duree {
    float: right;
}

/* Règles pour dessiner un créneau dans le prévisionnel */
.creneau {
    border: black inset 3px;
    border-radius: 6px;
    background-color: blanchedalmond;
    width: fit-content;
    float: left;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
/* Règles pour dessiner un créneau dans la corbeille */
.corbeille {
    background-color:lightskyblue;
}

/***********************************************/
/* Context menu pour clic droit sur un créneau */
/***********************************************/
.context-menu{
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 6px;
    width: 150px;
    background: white;
    box-shadow: 10px 10px 5px #888888;
    z-index: 300;
}
.context-menu ul{
    list-style: none;
    padding: 2px;
}
.context-menu ul li{
    padding: 5px 2px;
    margin-bottom: 3px;
}
.context-menu ul li:hover{
    cursor: pointer;
    background-color: #7fffd4;
}
