# Liste des groupes avec notion de hiérarchie "fils<père"
# Le système est robuste aux espaces qui "traînent" autour des noms de groupes
# Le système est robuste aux lignes vides
# Le père de la hiérarchie est celui qui n'apparaît jamais à gauche d'un <

# Démo de hiérarchie quelconque (ici les 1A)
TD11<promo1
TD21<promo1
TP11<TD11
TP21<TD11
TP31<TD21
TP41<TD21
TD12<promo2
TD22<promo2
TP12<TD12
TP22<TD12
TP32<TD22
TP42<TD22
